# Run `pigar generate tests` and `pigar generate src` to get the used dependencies

google_api_python_client==2.7.0
google_auth_oauthlib==0.4.4
mutagen==1.45.1
protobuf==4.23.4
python-decouple==3.8
python-telegram-bot==20.3
python_magic==0.4.24
shazamio==0.4.0.1
yt_dlp==2023.7.6
coverage==6.2
Pyrogram==1.2.20
pytest==7.4.0
pytest-mock==3.6.1
